h2 {
  margin-top: 15px;
}

.card-container {
  width: 45%;
  border: 1px solid black;
  border-radius: 10px;
  text-align: left;
  padding-left: 40px; 
  margin-bottom: 30px;
}

.description {
  line-height: 0.2;
  margin: 20px 0 25px;
}

p {
margin-bottom: 8px;
}

p:last-child {
margin-bottom: 15px;
}
.header {
display: flex;
justify-content: space-between;
align-items: center;
}

.delete-icon {
 font-size: 30px;
 display: inline-block;
cursor: pointer;
 margin-right: 30px;
 margin-top: 10px;
 transition: 0.4s;
}

.delete-icon:hover {
color: red;
transform: scale(1.05);
}

@media screen and (max-width: 992px) {
  .card-container {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .card-container {
    width: 80%;
  }
}