h2 {
  margin-top: 15px;
}

.card-container {
  width: 45%;
  border: 1px solid black;
  border-radius: 10px;
  text-align: left;
  padding-left: 40px; 
  margin-bottom: 30px;
}

.description {
  line-height: 0.2;
  margin: 20px 0 25px;
}

p {
margin-bottom: 8px;
}

p:last-child {
margin-bottom: 15px;
}

@media screen and (max-width: 992px) {
  .card-container {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .card-container {
    width: 80%;
  }
}