input {
  padding: 8px 12px;
  min-width: 350px;
  outline: none;
  border: 1px solid lightgrey;
}

button {
  padding: 4px 8px;
  background-color: white;
  border: 1px solid lightgrey;
  transition: 0.3s;
  height: 42px;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  
}

button:hover {
  background-color: grey;
  color: white;
  border-color: grey;
  outline: none;
}

.input-duplicate {
box-shadow: 0 0 5px 5px #FFF3CD;
}
.input-danger {
box-shadow: 0 0 5px 5px #F8D7DA;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}